<p class="h1">Friend info</p>

<br/>

<dl class="row">
  <dt class="col-sm-3">Full name</dt>
  <dd class="col-sm-9">
    <p class="lead">
      <%= @friend.first_name %> <%= @friend.last_name %>
    </p>
  </dd>

  <dt class="col-sm-3">Email</dt>
  <dd class="col-sm-9">
    <p><%= @friend.email %></p>
  </dd>

  <dt class="col-sm-3">Phone:</dt>
  <dd class="col-sm-9"><%= @friend.phone %></dd>

  <dt class="col-sm-3">Twitter:</dt>
  <dd class="col-sm-9"><%= @friend.twitter %></dd>

</dl>

<%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-secondary" %>
<%= link_to 'Back', friends_path, class: "btn btn-secondary" %>
